<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Grave:</strong>
  <%= @zombie.grave %>
</p>

<% if @zombie.zweets.empty? %>
  <h2>No zweets :( </h2>
<% else %>
  <h2>Zweets:</h2>
  <table>
    <% @zombie.zweets.each do |z| %>
      <tr>
        <td><%= link_to z.status, zweet_path(z) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<p> <%= link_to "Add zweet", new_zweet_path(:zombie=>@zombie) %> </p>
<p> <%= link_to "Show zweets of #{@zombie.name}'s neighbours", local_zweets_path(@zombie.grave)%></p>

<%= link_to 'Edit', edit_zombie_path(@zombie) %>